.card{
    border:0px;
}

.card-body{
    border:0px !important;
    border-radius: 0px !important;
}

.card-img{
    border:0px !important;
    border-radius: 0px !important;
}

.card-footer{
    height:56px;
    position: absolute;
    bottom: 0;
    width:100%;
    padding:10px !important;
    border:0px !important;
    border-radius: 0px !important;
}

.skillList{
    position: relative;
    bottom:0px !important;
}

.__react_modal_image__modal_container{
    z-index: 1000 !important;
}


.modalImage{
    transition: .5s ease;
}
.modalImage:hover {
        opacity: 0.8;
}

.highlight-card{
    margin-top:20px;
    border-radius: 0px;
}

.project-card-container{
    padding:10px;
 }

 .TechTree{
     border: 0px !important;
     position: relative;
     bottom:0;
     margin-bottom:30px;
 }

 .title-description{
     min-height:30% !important;
 }


.experience-card{
    margin-top:20px;
}

 @media screen and (min-width: 3000px) {
    .project-card{
        //height:800px !important;
        min-height:1000px !important;
     }
  }

  @media screen and (max-width: 2999px) {
    .project-card{
        //height:800px !important;
        min-height:1050px !important;
     }
  }

  @media screen and (max-width: 500px) {
    .card-row{
        margin:15px !important;
        margin-top:0px !important;
     }

     .project-card-container{
         padding:0px;
         margin-bottom:15px;
     }

  }