.card{
    border:0;
}

.card-body{
    border:0px !important;
    border-radius: 0px !important;
}

.card-img{
    border:0px !important;
    border-radius: 0px !important;
}

.card-footer{
    position: absolute;
    bottom: 0;
    width:100%;

    border:0px !important;
    border-radius: 0px !important;
}

.skillList{
    position: relative;
    bottom:0px !important;
}

.__react_modal_image__modal_container{
    z-index: 1000 !important;
}


.modalImage{
    transition: .5s ease;
}
.modalImage:hover {
        opacity: 0.8;
}

.highlight-card{
    margin-top:20px;
}


.project-card-container{
    padding:15px !important;
 }

 .project-card{
    height:800px !important;
 }