

.navbar-brand-img{
  width: 90px !important;
}

@media screen and (max-width: 600px) {
    .navbar-brand-img{
        width:80px !important;
    }
    .navbar{
      padding-top:0px !important;
    }
    .collapse{
      background: red;
    }
  }

.nav-item{
  color:white !important;
  margin-right:10px;
}

.navbar-collapse{
  width:100% !important;
  z-index:998;
  padding-left:30px !important;
}
.navbar{
    padding:0px !important;
    z-index:9999;
    height:64px;
}

.collapse{
  width:100% !important;
}
