.primary{
    background: rgb(135,0,0);
    background: -moz-radial-gradient(circle, rgba(135,0,0,1) 51%, rgba(203,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(135,0,0,1) 51%, rgba(203,0,0,1) 100%);
    background: radial-gradient(circle, rgba(135,0,0,1) 51%, rgba(203,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#870000",endColorstr="#cb0000",GradientType=1);
}

.solidred{
    background: #ba0900 !important;
}


body{
    background: lightgrey !important;
}