

.navbar-brand-img{
  width: 90px !important;
}

@media screen and (max-width: 600px) {
    .navbar-brand-img{
        width:80px !important;
    }
    .navbar{
      padding-top:0px !important;
    }
  }

.nav-item{
  color:white !important;
  margin-right:10px;
  border:1px;
}

.navbar{
  z-index:5 !important;
}

.navbar-collapse{
  width:100% !important;
  padding-left:30px !important;
}

.navbar-toggler{
  margin:8px;
}
.navbar{
  padding:0px;
}
.collapse{
  width:100% !important;
}
